.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  /* padding: 20px 20px 10px; */
  display: flex;
  flex-flow: row wrap;
}
.card > * .textContent > * {
  flex: 1 1 100%;
}

svg.down {
  transform: rotate(180deg);
}

@media all and (min-width: 1540px) {
  .card {
    padding: 0 60px;
  }
  .textContent {
    flex-basis: 672px;
  }
}

@media all and (min-width: 1540px) {
  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--grey-demi-dark);
  }
}

@media all and (min-width: 1540px) {
  .userLink:hover a {
    text-decoration: underline;
  }
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}
