.d28 {
  height: 28px;
  width: 28px;
}
.d20 {
  height: 20px;
  width: 20px;
}
.d16 {
  height: 16px;
  width: 16px;
}
.d14 {
  height: 14px;
  width: 14px;
}
.d12 {
  height: 12px;
  width: 12px;
}
.d10 {
  height: 10px;
  width: 10px;
}
